<h2>Buscar Livro</h2>

<div>
    <label>Titulo:
        <input placeholder="Insira o Titulo" [(ngModel)]="titulo">
    </label>
    <br><br>
    <button (click)="search()">Buscar</button>
</div>

<br><br>

<div *ngIf="response.id; else sem_sucesso">
    <h3>Retorno</h3>
    <label>Titulo: {{response.titulo}}</label><br>
    <label>Autor: {{response.autor}}</label><br>
    <label>Editora: {{response.editora}}</label><br>
    <label>Data de Publicação: {{response.dataPublicacao}}</label><br>
    <label>Número de Páginas: {{response.numeroPaginas}}</label><br>
    <label *ngIf="response.disponivel">Emprestado para: {{response.disponivel}}</label><br>
</div>
<ng-template #sem_sucesso>
    <h3>Livro {{response.titulo}} não encontrado</h3>
</ng-template>