<h2>Cadastrar Livro</h2>

<div>
    <label>Titulo:
        <input placeholder="Insira o Titulo" [(ngModel)]="request.titulo">
    </label>
    <br><br>
    <label>Autor:
        <input placeholder="Insira o Autor" [(ngModel)]="request.autor">
    </label>
    <br><br>
    <label>Editora:
        <input placeholder="Insira a Editora" [(ngModel)]="request.editora">
    </label>
    <br><br>
    <label>Data de Publicação:
        <input placeholder="Insira a Data de Publicação" [(ngModel)]="request.dataPublicacao">
    </label>
    <br><br>
    <label>Numero de Páginas:
        <input placeholder="Insira o Número de Páginas" [(ngModel)]="request.numeroPaginas">
    </label>
    <br><br>
    <button (click)="save()">Gravar</button>
</div>

<br><br>

<div *ngIf="response">
    <h3>Retorno</h3>
    <label>Id: {{response.id}}</label><br>
    <label>Nome: {{response.titulo}}</label><br>
</div>