<h2>Buscar Usuario</h2>

<div>
    <label>CPF:
        <input placeholder="Insira o CPF" [(ngModel)]="cpf">
    </label>
    <br><br>
    <button (click)="search()">Buscar</button>
</div>

<br><br>

<div *ngIf="response.id; else sem_sucesso">
    <h3>Retorno</h3>
    <label>ID: {{response.id}}</label><br>
    <label>Nome: {{response.nome}}</label><br>
    <label>CPF: {{response.cpf}}</label><br>
    <label>Telefone: {{response.telefone}}</label><br>
    <label>Data de Nascimento: {{response.dataNascimento}}</label><br>
</div>
<ng-template #sem_sucesso>
    <h3>CPF {{response.cpf}} não encontrado</h3>
</ng-template>