<nav>
  <ul>
    <li><a routerLink="/users/get">Buscar Usuário</a></li>
    <li><a routerLink="/users/create">Cadastrar Usuário</a></li>
    <li><a routerLink="/livros/get">Buscar Livro</a></li>
    <li><a routerLink="/livros/create">Cadastrar Livro</a></li>
    <li><a routerLink="gerenciamento/emprestimo">Realizar Empréstimo</a></li>
    <li><a routerLink="gerenciamento/devolucao">Realizar Devolução</a></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>