<h2>Devolução de Livro</h2>

<div>
    <label>Titulo:
        <input placeholder="Insira o nome do livro" [(ngModel)]="request.titulo">
    </label>
    <br><br>
    <label>Cliente:
        <input placeholder="Insira o usuário" [(ngModel)]="request.disponivel">
    </label>
    <br><br>
    <button (click)="save()">Realizar Devolução</button>
</div>

<br><br>

<div *ngIf="response.id; else sem_sucesso">
    <h3>Retorno</h3>
    <label>Livro {{response.titulo}} devolvido com sucesso.</label><br>
</div>
<ng-template #sem_sucesso>
    <h3>Erro ao devolver livro</h3>
</ng-template>