<h2>Cadastrar Usuario</h2>

<div>
    <label>Nome:
        <input placeholder="Insira o nome" [(ngModel)]="request.nome">
    </label>
    <br><br>
    <label>CPF:
        <input placeholder="Insira o CPF" [(ngModel)]="request.cpf">
    </label>
    <br><br>
    <label>Telefone:
        <input placeholder="Insira o Telefone" [(ngModel)]="request.telefone">
    </label>
    <br><br>
    <label>Data de Nascimento:
        <input placeholder="Insira a Data" [(ngModel)]="request.dataNascimento">
    </label>
    <br><br>
    <button (click)="save()">Gravar</button>
</div>

<br><br>

<div *ngIf="response">
    <h3>Retorno</h3>
    <label>Id: {{response.id}}</label><br>
    <label>Nome: {{response.nome}}</label><br>
</div>